*{
    margin:0;
    padding:0;
    font-family: 'Nunito', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }


.pruebaloca{
    height: 200px;
    padding: 1rem;
    flex-direction: row;
    text-align: center;
}

.logo{
    width:65%;
}

.side-logo{
  width: 65%;
}

.navbar{
    height: 100px;
}

ul li{
  padding: 0px 2px;
  margin-top: 10px;
}

