{%	extends "homeuser.html" %}
{% load static %}
{% block content %} 

<body>
  <nav class="navbar indigo lighten-4 ">
    <div class="container nav-wrapper ">
      <a href="#" class="brand-logo "><img class="logo" src="{% static 'img/turnet.png' %}" alt=""></a>
      <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  
      <ul class="right hide-on-med-and-down">
      <li><a class="white-text waves-effect waves-light transparent btn-flat" href="#">Nosotros</a></li>
      <li><a class="registro transparent waves-effect waves-light btn" href="#"><i class="material-icons right">person</i>{{apellidocli}}, {{nombrecli}}</a></li>
      </ul>
    </div>
    </div>
</nav>
  <!--breadcrumbs-->
  <nav class="#7986cb indigo lighten-3">
    <div class="container">
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="/turnos/homecliente/{{cliente.id}}" class="breadcrumb">Home</a>
          <a href="/turnos/homecliente/misturnos/{{cliente.id}}" class="breadcrumb">Mis Turnos</a>
          <a href="/turnos/homecliente/misturnos/{{cliente.id}}/lista" class="breadcrumb">Proveedores</a>
          <a href="/turnos/homecliente/misturnos/{{cliente.id}}/lista/turnosprov/{{proveedores.id}}" class="breadcrumb">Turnos Disponibles</a>
          <a href="#!" class="breadcrumb">Confirmacion</a>
        </div>
      </div>
    </div>  
  </nav>
    <!--breadcrumbs-->
    
    <!--Div de confirmacion-->
    <div class="container">    
      <div class="card-panel center">
        <div class="cointainer">  
          <div class="col s12 m8 offset-m2 l6 offset-l3">
              <h5>CONFIRMARCION</h5>
          </div>
        </div>  
      </div>
    </div>  
    <!--Div de confirmacion-->
      
      <!--confirmacion de datos y botones de volver y confirmar-->
        <div class="container">
          <div class="row">
              <div class="col s2 m4">
                <div class="card indigo lighten-2">
                  <div class="card-content white-text">
                    <span class="card-title"><i class="material-icons">date_range</i><b> TURNO</b></span>
                    <p><b>{{turnos.fecha_turno}}</b></p>
                  </div>
                </div>
              </div>
    
              <div class="col s2 m4"> 
                <div class="card indigo lighten-2">
                  <div class="card-content white-text">
                    <span class="card-title"><i class="material-icons">person</i><b> PACIENTE </b></span>
                    <p><b>{{cliente.nombre}},{{cliente.apellido}}</b></p>
                    <p>{{cliente.mail}}</p>
                    <p>{{cliente.tel}}</p>
                  </div>
                </div>
              </div>
    
              <div class="col s2 m4">
                <div class="card indigo lighten-2">
                  <div class="card-content white-text">
                    <span class="card-title"><i class="material-icons">apartment</i><b> PROFESIONAL </b></span>
                    <p><b>{{proveedores.nombre}},{{proveedores.apellido}}</b></p>
                    <p>{{proveedores.rubro}}</p>
                    <p>CUIT - {{proveedores.cuit}}</p>
                    <p>{{proveedores.direccion}}</p>
                  </div>
                </div>
              </div>
            <div class="container center">
              <p>
                <label>
                  <input id="indeterminate-checkbox" type="checkbox" />
                  <span>Recordarme 1hs antes</span>
                </label>
              </p>
              <p>
                <label>
                  <input id="indeterminate-checkbox" type="checkbox" />
                  <span>Avisarme si se libera un turno antes</span>
                </label>
              </p>

            </div>
            <div class="container center">
              <BR></BR>
              <a class="waves-effect waves-light btn-small #7986cb indigo lighten-2" href="/turnos/homecliente/misturnos/{{cliente.id}}/lista" ><B> Volver</B></a>
              <a class="waves-effect waves-light btn-small #7986cb indigo lighten-2" href="/turnos/homecliente/misturnos/{{cliente.id}}/lista/turnosprov/{{proveedores.id}}/confirmar/{{turnos.id}}/exito "><b>Programar</b></a>
            </div>          
    
    
    
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          M.AutoInit();
        });
    </script>
</body>
{% endblock %}