{%	extends "homeuser.html" %}
{% load static %}
{% block content %} 

<body>
	<body>
		<nav class="navbar deep-purple lighten-2 z-depth-3">
			<div class="container nav-wrapper ">
			  <a href="#" class="brand-logo"><img class="logo" src="{% static 'img/turnet_logo.svg' %}" alt=""></a>
			  <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	  
			  <ul class="right hide-on-med-and-down">
				<li><a class="white-text waves-effect waves-light transparent btn-flat" href="#">Nosotros</a></li>
				<li><a class="registro transparent waves-effect waves-light btn" href="#"><i class="material-icons right">person</i>{{apellidocli}}, {{nombrecli}}</a></li>
			  </ul>
			</div>
		  </div>
		  </nav>			
	
	  <!--breadcrumbs-->
	  <nav class="#7986cb indigo lighten-2">
		<div class="container">
		  <div class="nav-wrapper">
			<div class="col s12">
			  <a href="#!" class="breadcrumb">Home</a>
			</div>
		  </div>
		</div>  
	  </nav>
	  <!--breadcrumbs-->
	<div class="container">
		<div class="row">
		  <div class="col-sm">
			<a href="">Noticias</a>
		  </div>
		  <div class="col-sm">
			<a href="/turnos/homecliente/misturnos/{{idcli}}">Gestionar Turnos</a>
		  </div>
		  <div class="col-sm">
			<a href="">Configuraciones</a>
		  </div>
		</div>
	  </div>
</body>
{% endblock %}  