{%	extends "homeuser.html" %}
{% load static %}
{% block content %} 
<nav class="navbar indigo lighten-3 ">
	<div class="container nav-wrapper ">
	  <a href="#" class="brand-logo "><img class="logo" src="{% static 'img/turnet.png' %}" alt=""></a>
	  <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>

	  <ul class="right hide-on-med-and-down">
		<li><a class="white-text waves-effect waves-light transparent btn-flat" href="#">Nosotros</a></li>
		<li><a class="registro transparent waves-effect waves-light btn" href="#"><i class="material-icons right">person</i>{{apellidocli}}, {{nombrecli}}</a></li>
	  </ul>
	</div>
  </div>
</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--carousel-->
<script>
	$(document).ready(function(){
		$('.carousel').carousel({
			fullWidth:false,
			indicators: true,
		}).height(400);
		
		setInterval(function(){
			$('.carousel').carousel('next');
		},2000);
	})
</script>
	<body>
	<!--breadcrumbs-->
	  <nav class="#7986cb indigo lighten-3">
		<div class="container">
		  <div class="nav-wrapper">
			<div class="col s12">
			  <a href="/turnos/homecliente/{{idcli}}" class="breadcrumb">Home</a>
			</div>
		  </div>
		</div>  
	  </nav>
	<!--breadcrumbs-->
	<!--carrousel-->
		<div class="conteiner">
			<div class="carousel " style="display: flexx; margin: auto;">
				<a class="carousel-item" href="#one!"><img src="/static/img/newspaper.png" ><h5 align="center">Noticias</h5></a>
				<a class="carousel-item" href="/turnos/homecliente/misturnos/{{idcli}}"><img src="/static/img/appointment.png" ><h5 align="center">Gestionar Turnos</h5></a>
				<a class="carousel-item" href="#five!"><img src="/static/img/settings (2).png"><h5 align="center">Configuraciones</h5></a>
			 </div>
		</div>
	<!--carrousel-->	
</body>

{% endblock %}  
