{%	extends "homeuser.html" %}
{% load static %}
{% block content %} 

  <script type="text/javascript">
  (function(document) {
    'use strict';

    var LightTableFilter = (function(Arr) {

      var _input;

      function _onInputEvent(e) {
        _input = e.target;
        var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
        Arr.forEach.call(tables, function(table) {
          Arr.forEach.call(table.tBodies, function(tbody) {
            Arr.forEach.call(tbody.rows, _filter);
          });
        });
      }

      function _filter(row) {
        var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
        row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
      }

      return {
        init: function() {
          var inputs = document.getElementsByClassName('light-table-filter');
          Arr.forEach.call(inputs, function(input) {
            input.oninput = _onInputEvent;
          });
        }
      };
    })(Array.prototype);

    document.addEventListener('readystatechange', function() {
      if (document.readyState === 'complete') {
        LightTableFilter.init();
      }
    });

  })(document);
  </script>

<body>
	<body>
    <nav class="navbar indigo lighten-3 ">
			<div class="container nav-wrapper ">
			  <a href="#" class="brand-logo "><img class="logo" src="{% static 'img/turnet.png' %}" alt=""></a>
			  <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	  
			  <ul class="right hide-on-med-and-down">
				<li><a class="white-text waves-effect waves-light transparent btn-flat" href="#">Nosotros</a></li>
				<li><a class="registro transparent waves-effect waves-light btn" href="#"><i class="material-icons right">person</i>{{apellidocli}}, {{nombrecli}}</a></li>
			  </ul>
			</div>
		  </div>
	</nav>
	  <!--breadcrumbs-->
	  <nav class="#7986cb indigo lighten-3">
		<div class="container">
		  <div class="nav-wrapper">
			<div class="col s12">
        <a href="/turnos/homecliente/{{idcli}}" class="breadcrumb">Home  </a>
        <a href="/turnos/homecliente/misturnos/{{idcli}}" class="breadcrumb">Mis Turnos  </a>
        <a href="#!" class="breadcrumb">Proveedores</a>
			</div>
		  </div>
		</div>  
	  </nav>
	  <!--breadcrumbs-->
  
    <!--la tablita de valentina-->
  
      <body>
        <div class="container">
          
            <div style="height:50px">
                <h3>Proveedores de turnos</h3>
             </div>
         
    
          <input class="form-control col-md-3 light-table-filter" data-table="order-table" type="text" placeholder="Filtre la busqueda...">
          <hr>
    
          <table class="table table-bordered order-table ">
            <thead>
              <tr>
                <th>CUIT</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>DIRECCION</th>
                <th>TEL</th>
                <th>MAIL</th>
                <TH>RUBRO</TH>
                <th>TURNOS</th>
              </tr>
            </thead>
            {% for prove in proveedores %}
             <tr>
    
                <td>{{ prove.cuit }}</td>
    
                <td>{{ prove.nombre }}</td>
    
                <td>{{ prove.apellido }}</td>
    
                <td>{{ prove.direccion }}</td>
    
                <td>{{ prove.tel }}</td>
    
                <td>{{ prove.mail }}</td>
    
                <td>{{ prove.rubro }}</td>
    
                <td>
                  <a href="/turnos/homecliente/misturnos/{{idcli}}/lista/turnosprov/{{prove.id}}" target="">Ver</a>
                </td>
    
            </tr>
            {% endfor %}
          </table>
    
      </body>

    <!--la tablita de valentina-->

</body>
{% endblock %}  
