<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Tabla de turnos</title>
</head>
<body>
  
  <!--breadcrumbs-->
  <nav class="#7986cb indigo lighten-2">
    <div class="container">
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="#!" class="breadcrumb">Home</a>
          <a href="#!" class="breadcrumb">Medicos Clinicos</a>
          <a href="#!" class="breadcrumb">Dr. Hibbert</a>
        </div>
      </div>
    </div>  
  </nav>
  <!--breadcrumbs-->

  <!--Imagen de usuarios/ proveedores-->
  <!--Imagen de usuarios/ proveedores-->
  <!--Imagen tarjeta con pesatañas informacion y opiniones-->
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="row valign-wrapper">
                    <div class="col s2">
                      <img src="media/hibbert.jpg" alt="img_proveedor" class="circle responsive-img max-width: auto height:auto"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                      <span class="black-text">
                        <h4><b>Dr. Hibbert</b></h4>
                        <h6>Medico clinico - MP 3456</h6>
                      </span>
                    </div>
                  </div>
            </div>
            <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab"><a class="active" href="#test4">Informacion</a></li>
                <li class="tab"><a href="#test5">Opiniones</a></li>
            </ul>
            </div>
            <div class="card-content grey lighten-4">
            <div id="test4">
                <div class="div container">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum illo expedita incidunt, pariatur ab iste ea porro veritatis odio placeat optio dignissimos natus, ipsa accusantium dolores ad amet eligendi blanditiis?</p><br>
                <p><i class="tiny material-icons">local_phone</i> 3624-775533</p><br>
                <p><i class="tiny material-icons">location_on</i> Calle falsa , 123</p><br>
                </div>
            </div>
            <div id="test5" class="col s6">
                <div class="container">
                    <div class="container">
                        <h6><b>Contanos como fue tu experiencia con el medico?</b></h6><br>
                    <div class="contianer">
                        <div class="row">
                            <div class="col s3 right">
                                <a class="btn-floating btn waves-effect waves-light green accent-4"><i class="material-icons large">sentiment_very_satisfied</i></a>
                                <a class="btn-floating btn waves-effect waves-light green accent-4"><i class="material-icons large">sentiment_satisfied</i></a>
                                <a class="btn-floating btn waves-effect waves-light green accent-4"><i class="material-icons large">sentiment_dissatisfied</i></a>
                            </div>
                        </div> 
                </div>
            </div>
            </div>
        </div>
    </div>
  <!--Imagen tarjeta con pesatañas informacion y opiniones-->
  <!--Turnos-->
    <div class="container">
      <div class="row">
          <div class="col s2 m3">
            <div class="card">
              <div class="card-content dark-text">
                <span class="card-title"><h5><b>18 - SEP</b></h5></span>
                <p>de 8 a 9 am</p>
              </div>
              <div class="card-action">
                <a class="waves-effect waves-light btn #7986cb indigo lighten-2"><i class="material-icons right">check</i>Agendar</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s2 m3">
              <div class="card">
                <div class="card-content dark-text">
                  <span class="card-title"><h5><b>18 - SEP</b></h5></span>
                  <p>de 9 a 10 am</p>
                </div>
                <div class="card-action">
                  <a class="waves-effect waves-light btn #7986cb indigo lighten-2"><i class="material-icons right">check</i>Agendar</a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col s2 m3">
                <div class="card">
                  <div class="card-content dark-text">
                    <span class="card-title"><h5><b>21 - SEP</b></h5></span>
                    <p>de 7 a 8 am</p>
                  </div>
                  <div class="card-action">
                    <a class="waves-effect waves-light btn #7986cb indigo lighten-2"><i class="material-icons right">check</i>Agendar</a>
                  </div>
                </div>
              </div>

                <div class="row">
                  <div class="col s2 m3">
                    <div class="card">
                      <div class="card-content dark-text">
                        <span class="card-title"><h5><b>22 - SEP</b></h5></span>
                        <p>de 11 a 12 am</p>
                      </div>
                      <div class="card-action">
                        <a class="waves-effect waves-light btn indigo lighten-2"><i class="material-icons right">check</i>Agendar</a>
                      </div>
                    </div>
                  </div>
      </div>    
    </div>  
    <!--Turnos-->
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          M.AutoInit();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>