{%	extends "homeuser.html" %}
{% load static %}
{% block content %} 

<body>
  <nav class="navbar indigo lighten-4 ">
    <div class="container nav-wrapper ">
      <a href="#" class="brand-logo "><img class="logo" src="{% static 'img/turnet.png' %}" alt=""></a>
      <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  
      <ul class="right hide-on-med-and-down">
      <li><a class="white-text waves-effect waves-light transparent btn-flat" href="#">Nosotros</a></li>
      <li><a class="registro transparent waves-effect waves-light btn" href="#"><i class="material-icons right">person</i>{{apellidocli}}, {{nombrecli}}</a></li>
      </ul>
    </div>
    </div>
</nav>
  <!--breadcrumbs-->
  <nav class="#7986cb indigo lighten-3">
    <div class="container">
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="/turnos/homecliente/{{idcli}}" class="breadcrumb">Home</a>
          <a href="/turnos/homecliente/misturnos/{{idcli}}" class="breadcrumb">Mis Turnos</a>
          <a href="/turnos/homecliente/misturnos/{{idcli}}/lista" class="breadcrumb">Proveedores</a>
          <a href="#!" class="breadcrumb">Turnos Disponibles</a>
        </div>
      </div>
    </div>  
  </nav>
  <!--breadcrumbs-->

  <!--Imagen de usuarios/ proveedores-->
  <!--Imagen de usuarios/ proveedores-->
  <!--Imagen tarjeta con pesatañas informacion y opiniones-->
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="row valign-wrapper">
                    <div class="col s2">
                      <img src="/static/img/Julius_Hibbert.png" alt="img_proveedor" class="circle responsive-img max-width: auto height:auto"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                      <span class="black-text">
                        <h4><b>{{idprov.nombre}}, {{idprov.apellido}}</b></h4>
                        <h6>{{idprov.rubro}}</h6>
                        <h6>CUIT - {{idprov.cuit}}</h6>
                      </span>
                    </div>
                  </div>
            </div>
            <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab"><a class="active" href="#test4">Informacion</a></li>
                <li class="tab"><a href="#test5">Opiniones</a></li>
            </ul>
            </div>
            <div class="card-content grey lighten-4">
            <div id="test4">
                <div class="div container">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum illo expedita incidunt, pariatur ab iste ea porro veritatis odio placeat optio dignissimos natus, ipsa accusantium dolores ad amet eligendi blanditiis?</p><br>
                <p><i class="tiny material-icons">local_phone</i>{{idprov.tel}}</p><br>
                <p><i class="tiny material-icons">location_on</i>{{idprov.direccion}}</p><br>
                </div>
            </div>
            <div id="test5" class="col s6">
                <div class="container">
                    <div class="container">
                        <h6><b>Contanos como fue tu experiencia con el medico?</b></h6><br>
                    <div class="contianer">
                        <div class="row">
                            <div class="col s3 right">
                                <a class="btn-floating btn waves-effect waves-light green accent-4"><i class="material-icons large">sentiment_very_satisfied</i></a>
                                <a class="btn-floating btn waves-effect waves-light green accent-4"><i class="material-icons large">sentiment_satisfied</i></a>
                                <a class="btn-floating btn waves-effect waves-light green accent-4"><i class="material-icons large">sentiment_dissatisfied</i></a>
                            </div>
                        </div> 
                </div>
            </div>
            </div>
        </div>
    </div>
  <!--Imagen tarjeta con pesatañas informacion y opiniones-->
  <!--Turnos-->
  
    <div class="container">
      <div class="row">
        {% for turno in turnoslibres %}
          <div class="col s2 m3">
            <div class="card">
              <div class="card-content dark-text">
                <span class="card-title"><h6><b>{{turno.fecha_turno}}</b></h6></span>
              </div>
              <div class="card-action">
                <a class="waves-effect waves-light btn #7986cb indigo lighte n-2" href="/turnos/homecliente/misturnos/{{idcli}}/lista/turnosprov/{{turno.idproveedor.id}}/confirmar/{{turno.id}}"><i class="material-icons right">check</i>ir</a>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>    
    </div>  
    
    <!--Turnos-->
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          M.AutoInit();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
{% endblock %}