{%	extends "homeuser.html" %}
{% load static %}
{% block content %} 

<body>
	<body>
		<nav class="navbar deep-purple lighten-2 z-depth-3">
			<div class="container nav-wrapper ">
			  <a href="#" class="brand-logo"><img class="logo" src="{% static 'img/turnet_logo.svg' %}" alt=""></a>
			  <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	  
			  <ul class="right hide-on-med-and-down">
				<li><a class="white-text waves-effect waves-light transparent btn-flat" href="#">Nosotros</a></li>
				<li><a class="registro transparent waves-effect waves-light btn" href="#">{{nombrecli}}, {{apellidocli}}<i class="material-icons right">person</i></a></li>
			  </ul>
			</div>
		  </div>
		  </nav>			
	
	  <!--breadcrumbs-->
	  <nav class="#7986cb indigo lighten-2">
		<div class="container">
		  <div class="nav-wrapper">
			<div class="col s12">
			  <a href="/turnos/homecliente/{{idcli}}" class="breadcrumb">Home</a>
              <a href="#!" class="breadcrumb">Mis Turnos</a>
              <a href="#!" class="breadcrumb">Proveedores</a>
              <a href="#!" class="breadcrumb">Turnos Disponibles</a>
			</div>
		  </div>
		</div>  
	  </nav>
	  <!--breadcrumbs-->
	<h4 align="center"> Turnos Disponibles </h4>
<div align="center">
  <table cellspacing="10" cellpadding="10" border="3" >

      <tr>
    
        <th>Rubro</th>
    
        <th>Fecha y Hora</th>   

        <th>Acciones</th>  
    
      </tr>
      {% for turno in turnoslibres %}
          <tr>
        
            <td>{{ turno.idproveedor.rubro }}</td>
        
            <td>{{ turno.fecha_turno }}</td>
            
            <td><a href="/turnos/homecliente/misturnos/{{idcli}}/lista/turnosprov/{{turno.idproveedor.id}}/confirmar/{{turno.id}}"> Programar Turno</a></td>
          </tr>
      {% endfor %}
   
    </table>
    
</div>
</body>
{% endblock %}  
