{%	extends "homeuser.html" %}
{% load static %}
{% block content %} 
<nav class="navbar indigo lighten-4 ">
	<div class="container nav-wrapper ">
	  <a href="#" class="brand-logo "><img class="logo" src="{% static 'img/turnet.png' %}" alt=""></a>
	  <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>

	  <ul class="right hide-on-med-and-down">
		<li><a class="white-text waves-effect waves-light transparent btn-flat" href="#">Nosotros</a></li>
		<li><a class="registro transparent waves-effect waves-light btn" href="#"><i class="material-icons right">person</i>{{apellidocli}}, {{nombrecli}}</a></li>
	  </ul>
	</div>
  </div>
</nav>
<body>
	<body>
	  <!--breadcrumbs-->
	  <nav class="#7986cb indigo lighten-3">
		<div class="container">
		  <div class="nav-wrapper">
			<div class="col s12">
			  <a href="/turnos/homecliente/{{idcli}}" class="breadcrumb">Home</a>
			  <a href="#!" class="breadcrumb">Mis Turnos</a>
			</div>
		  </div>
		</div>  
	  </nav>
	  <!--breadcrumbs-->
	<h4 align="center"> Mis turnos</h4>
<div align="center">
  <table cellspacing="10" cellpadding="10" border="3" >

      <tr>
    
        <th>Rubro</th>
    
        <th>Fecha y Hora</th>   
    
      </tr>
      {% for turno in turnos %}
          <tr>
        
            <td>{{ turno.idproveedor.rubro }}</td>
        
            <td>{{ turno.fecha_turno }}</td>
        
          </tr>
      {% endfor %}
   
    </table>
    <a href="/turnos/homecliente/misturnos/{{idcli}}/lista" target="">Programar nuevo turno</a>
   
</div>
</body>
{% endblock %}  
